<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>To Do Liste</title>
</head>
<body>
<style>
    body {
        background-color: #F2F2F2;
    }

    .box {
        height: 500px;
        width: 500px;
        background-color: #FF0000;
        color: white;
    }

    .box2 {
        height: 800px;
        width: 500px;
        background-color: green;
        color: white;
    }

    .box3 {
        height: 500px;
        width: 500px;
        background-color: darkblue;
        color: white;
    }

    .status {
        align-items: center;
    }

    h2 {
        color: white;
    }

    header {
        height: 200px;
        padding-top: 5px;
        background-color: #565c63;
    }
</style>
<div class="content ">
    <header>
        <h2 class="text-center mt-5">ToDo List</h2><br>
        <div class="container d-flex justify-content-center">
            <input type="text" class="col-md-6" placeholder="Enter task" v-model="task" class="form-group col-md-4">
            <button class="btn btn-warning" @click="submitTask">Add</button>
        </div><br>
    </header><br>
    <div class="container d-flex justify-content-center">
        <input type="text" v-model="filtertext" size="20" style="height:33px;" placeholder="filter the tasks"
               class="form-group col-md-4">
    </div>
    <div class="container">
        <div class="summary">
            <status-summary></status-summary>
        </div><br>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col" @click="toggle('name')">Name <i class="fas fa-sort"></i></th>
                <th scope="col" @click="toggle('status')">Status <i class="fas fa-sort"></i></th>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(task,index) in tasksSorted" :key="index">
                <td>{{task.name}}</td>
                <td>{{task.status}}</td>
                <td>
                    <div class="text-center" @click="deleteTask(index)">
                        <i class="fa fa-trash"></i>
                    </div>
                </td>
                <td>
                    <div class="text-center" @click="editTask(index)">
                        <i style='font-size:18px' class='fas'>&#xf304;</i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    Vue.use(Vuex);
    const store = new Vuex.Store({
        //To enable strict mode, simply pass in strict: true when creating a Vuex store:
        strict: true,
        state: {
            tasks: [
                {
                    name: 'Nagelstudio Termin',
                    status: 'to do'

                },
                {
                    name: 'Mama anrufen',
                    status: 'to do'
                },
                {
                    name: 'Yoga machen',
                    status: 'finished'
                },
                {
                    name: 'Einkaufen gehen',
                    status: 'in progress'
                }
            ],
            task: '',
        },
        mutations: {
            deleteTask(state, index) {
                 // "splice" out the list item we want to delete one item, but don't return a new list
                state.tasks.splice(index, 1);
            },
            submitTask(state, payload) {
                //an empty value isn't allowed to add to the list
                if (payload.task.length === 0) {
                    return;
                }
                if (payload.editedTask === '') {
                    //a new item will add to the beginning of list with unschift
                    state.tasks.unshift ({
                        name: payload.task,
                        status: 'to do'
                    });
                } else {
                    state.tasks[payload.editedTask].name = payload.task;
                }
            }
        }
    });
    //create a new component to count the status in the table
    const statusSummary = Vue.component('status-summary', {
        computed: {
            toDo() {
                return this.$store.state.tasks
                    .filter(el => el.status.match('to do'))
                    .length;
            },
            inProgress() {
                return this.$store.state.tasks
                    .filter(el => el.status.match('in progress'))
                    .length;
            },
            done() {
                return this.$store.state.tasks
                    .filter(el => el.status.match('finished'))
                    .length;
            }
        },
        template: '<div class="status"><strong>to do:</strong>&nbsp;&nbsp;<span class="box">{{toDo}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <strong>In progress:</strong>&nbsp;&nbsp;<span class="box2">{{inProgress}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>finished:</strong>&nbsp;&nbsp;<span class="box3">{{done}}</span></div>'
    });

    const app = new Vue({
        el: '.content',
        store: store,
        component: {
            statusSummary: statusSummary
        },
        data() {
            return {
                task: '',
                direction: 'asc', // desc
                s: '',
                editedTask: '',
                filtertext: ''
            };
        },
        methods: {
            submitTask() {
                this.$store.commit('submitTask', {
                    task: this.task,
                    editedTask: this.editedTask
                });
                this.task = '';
            },
            deleteTask(index) {
                this.$store.commit('deleteTask', index);
            },
            editTask (index) {
                this.task = this.$store.state.tasks[index].name;
                //the index of item will update and don't add as new item
                this.editedTask = index;
            },
            toggle(column) {
                this.s = column;
                if (this.direction === 'desc') {
                    this.direction = 'asc';
                } else {
                    this.direction = 'desc';
                }
            }
        },
        computed: {
            tasksSorted() {
              //The slice() method extracts parts of a string and returns the extracted parts in a new string.
                const tasks = this.$store.state.tasks.slice();
                tasks.sort((a, b) => {
                    if (this.direction === 'desc') {
                        return (a[this.s] < b[this.s]) ? 1 : -1;// if ? then : else
                    } else {
                        return (a[this.s] < b[this.s]) ? -1 : 1;
                    }
                });
                const filter = new RegExp(this.filtertext, 'i');
                if (this.filtertext.length > 2) {
                    return tasks.filter(el => el.name.match(filter)); // filter.test(el.name)
                } else {
                    return tasks;
                }
            },
        }
    });
</script>
</body>
</html>
